$font-stack: "Roboto",
"Helvetica Neue",
Helvetica,
Arial,
sans-serif;

$red: #ed0205;
$green: #58a549;

$font-medium:500;

$box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
0 3px 1px -2px rgba(0, 0, 0, 0.12),
0 1px 5px 0 rgba(0, 0, 0, 0.2);
$box-shadow-lug: 2px 2px 2px 0 rgba(0, 0, 0, .14),
2px 3px 1px -2px rgba(0, 0, 0, .12),
2px 1px 5px 0 rgba(0, 0, 0, .2);

$border-simple: 0px 0 0 1px rgba(8, 9, 10, 0.05);